@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.section_Divider {
  margin-bottom: 60px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}
.sub_Title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.show_Mobile_Menu {
  display: block !important;
}
.close_Mobile_Menu {
  display: none !important;
}
